@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-header: #f0f0f0;
    --color-primary: #6c63ff;
    --color-success: #00a2ff;
    --color-warning: #ffb846;
    --color-danger: #f742df;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-dark:#ababab;
    --color-bbydark:#838383;
    --color-bbyblack:#3e3e54;
    --color-black: #333;
    --color-bg: #0861d6;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color3: #428bca;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Tajawal', sans-serif;
    line-height: 1.7 ;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{width: var(--container-width-lg); margin: 0 auto;}

section{
    padding: 6rem 0;
    
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

h1{font-size: 2.4rem; font-weight: 400;}
h2{font-size: 2.2rem; font-weight: 400;
    text-align: center; margin-bottom: 4rem;}
h3{font-size: 2rem; font-weight: 400;}
h4{font-size: 2rem; font-weight: 350;}
h5{font-size: 1.4rem; font-weight: 500;}
h1,h2,h3,h4,h5{line-height: 1.2;}

.btn{background:url(../images/botton.svg) no-repeat; background-size: contain; background-position: center; width: 16vw; cursor: pointer;transition: var(--transition);color: var(--color-bbyblack);
}
.btn:hover{background:url(../images/botton\ -\ Copy.svg) no-repeat; color: var(--color-warning);background-position-y: 2vh;}


.btnText{
    display: inline-block;padding: 1rem 0;font-family: 'Tajawal', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 1.7 ;
    }


/* ============== HEADER ================= */
header{
    border: 1px solid yellow;
    background: transparent; width: 100vw;
    position: fixed; z-index: 999;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem 0;
}

/*
.window-scroll{
    background: var(--color-header);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
*/

#headerTexure{width: 100%;position: absolute;object-fit: contain;
    left: 0rem; top: 0; bottom: 0;
    z-index: -1;}

.logo{width: 15vw; display: inline-block;}

header button {display: none;}

.navigation a{
    color: var(--color-dark);
    font-weight: 500; font-size: 1.1em;
    padding-right: 30px;
    transition: var(--transition);
}

.navigation a:hover {
    color: #00e1ff;
}



/* ============== SECTION 1 : الرئيسية ============ */


.section__container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.section__left-image{width: 40vw;}

.section__right p{
    margin-bottom:  2.4rem;
    color: var(--color-black);
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 300;
}

.section__right a{text-align: center;}

.btn:hover{color: #06a7d2;}



  
/* ============== SECTION 2 : التعليم الحر ================= */


.categories{
  padding-top: 7rem; 
  height: 32rem;
  background: url(../images/main-bg.png) no-repeat; background-size: cover; background-position: center;
}


  .categories__container {
      display: grid;
      grid-template-columns: 40% 60%;
     
  }

  .categories__left h1{
      line-height: 1; 
      margin-bottom: 3rem;
  }

  .categories__left p{
      margin: 1rem 0 3rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 100;
      padding-left: 1rem;
  }

  .categories__left a{text-align: center;}

  .categories__right{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1.2rem;
  }

  .category{
      background: var(--color-primary);
      padding: 2rem;
      border-radius: 2rem;
      transition: var(--transition);
  }

  .category:hover {
      box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
  }

  .category h5{text-align: center;}




/* ============== SECTION 3 : ساهم بشرح دروس تعليمية================= */
.courses{margin-top: 10rem;}

.courses h2{
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-black);
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course{
    background: var(--color-success);
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.course__info{
    padding: 2rem;
}




/* ============== SECTION 4 : اسال و اجب================= */
.faqs{
    background: url(../images/main-bg.png) no-repeat; background-size: cover; background-position: center;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faqs h1{
    margin-bottom: 3rem;
    text-align: center;
} 

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    background: var(--color-primary);
    cursor: pointer ;
    border-radius: 1rem;
}

.faq__icon{
    display: inline-block; 
    width: 5rem;
    align-self: flex-start;
}

.faq p{
    margin-top: 0.8rem;
    line-height: 1.8;
    font-size: 1.3rem;
    display: none;
}

.faq.open p{
    display: block;
}



/*================= SECTION 5 : أراء ======================*/
.emo__container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.emo__container h1{text-align: center; color: var(--color-black);}

.testimonial{
    padding-top: 2rem;

}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-success);
}

.testimonial__info{
    color: var(--color3);
    text-align: center;}



.testimonial__body{
    background: var(--color-success);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.testimonial__body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, var(--color-success), var(--color-success), var(--color-success));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/*================= footer ======================*/
footer{
    background: var(--color-bg1);
    padding: 5rem 0 0; 
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin: 1rem 0 2rem;
    color: var(--color-dark);
}
.footer__1{text-align: center;}
.footer__2{text-align: center;}

.footer__socials{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.soc{width: 3rem;}

.developer{
    text-align: center;
    color: var(--color-dark);
    font-size: large;
    margin-top: 3rem;
    padding: 1.2rem 0;
    border-top: 0.1px solid var(--color-dark);
}


/*=============================================================================================================*/
                                   /*MEDIA QUERIES(TABLETS)*/
                                   /*======================*/
@media screen and (max-width: 1024px){

   .container{width: var(--container-width-md);}
    h1{font-size: 2.2rem; font-weight: 300;}
    h2{font-size: 1.7rem; font-weight: 300;}
    h4{font-size: 1.4rem; font-weight: 300;}
    h5{font-size: 1.3rem; font-weight: 490;}
    h1,h2,h3,h4,h5{line-height: 1;}
    .btn{width: 19vw;}
    .btnText{font-size: 2.1vw};

    /*========== HEADER ============*/
    header{padding: 0.5rem 2rem;}
    
    header button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-bbyblack);
        cursor: pointer;
    }

    #close-menu-btn{display: none;}

    .header__menu{
        position: fixed;
        top: 5rem;
        left: 5%;
        height: fit-content;
        width: 18rem;
        display: none;
        flex-direction: column;
        gap: 0;
    }

    .header__menu a{
        color: var(--color-white);
        background: var(--color-success);
        width: 100%;
        height: 5.8rem;
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        display: grid;
        place-items: center;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top left;
        opacity: 0;
    }

    .header__menu a:nth-child(2){
        animation-delay: 200ms;
    }
    .header__menu a:nth-child(3){
        animation-delay: 400ms;
    }
    .header__menu a:nth-child(4){
        animation-delay: 600ms;
    }

    .header__menu a:hover{
        background: var(--color-warning);
    
    }

    @keyframes animateNavItems {
        0%{transform: rotateZ(90deg) rotateX(-90deg) scale(0.1);}

        100%{transform: rotateZ(0) rotateX(0) scale(1); opacity: 1}
    }


    /*========== SECTION1 : الرئيسية ============*/
    .sec1{height: 52vh;
    margin-bottom: 4rem;} 

    .section__left-image{width: 48vw}
    .section__right p{font-size: 1.9rem; line-height: 2.5rem;}

    .section__container{
        gap: 0;
        padding-bottom: 3rem;
    }


    /*========== SECTION2 : التعليم الحر ============*/
    .categories{
        height: auto;
        
    }
    .categories__container{
        grid-template-columns: 1fr;
        gap: 3rem;
        
    }
    .categories__right{order: 2; 
        grid-template-columns: repeat(4,minmax(1px,15vw)); justify-content: center; align-items: center;}
    

    /*========== SECTION 3 : ساهم بشرح دروس تعليمية ============*/
    .courses{margin-top: 0;}

    .courses h2{font-weight: 300;}

    .courses__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .course{flex: 0 1 35vw;}



    /*========== SECTION 4 : أسال و أجب ============*/
    .faqs__container{grid-template-columns: 1fr;
    padding: 0 8vw;}

    .faq__icon{width: 3rem;}   

}


@media screen and (max-width: 800px){
    header{padding: 0.4rem 4rem 0 ;}
    header button{margin-top: 0.7rem;width: 4.3rem;}
    .logo{width: 17vw;}

    .section__container{margin-top: 3rem;}
    .section__right p{font-size: 1.6rem; line-height: 2rem;}
}
/*=============================================================================================================*/
                                   /*MEDIA QUERIES (PHONES)*/
                                   /*======================*/
@media screen and (max-width: 600px) {

    .container{width: var(--container-width-sm);}
    h1{font-size: 2rem; font-weight: 290;}
    h2{font-size: 1.5rem; font-weight: 290;}
    h4{font-size: 1.2rem; font-weight: 390;}
    h5{font-size: 1.2rem; font-weight: 450;}
    h1,h2,h3,h4,h5{line-height: 1.2;}
    .btn{width: 26vw;}
    .btnText{font-size: 3vw};


    /*========== HEADER ============*/
    .header__menu{left: 3%;}
     header{padding: 0.1rem 3rem 0;}
     header button{margin-top: 0.7rem;width: 4.3rem;}
     .logo{width: 17.7vw;}

    /*========== SECTION1 : الرئيسية ============*/
    .sec1{height: 100vh;}
    .section__container{place-items: center;text-align: center; margin-top: 0;grid-template-columns: 1fr;}
    .section__left-image{order: 2; width: 60vw; }
    .section__right p{font-size: 4.8vw; line-height: 2.1rem; margin-bottom: 1.3rem;}


    /*========== SECTION2 : التعليم الحر ============*/
    .categories__right{order: 2; 
        grid-template-columns: repeat(2,minmax(1px,30vw));}

        .category{padding: 1rem; border-radius: 1.5rem;}

        .categories__left h1{margin-bottom: 0;}

        .categories__left p{
        margin: 1rem 0;
        font-size: 1.2rem;
        line-height: 2.2rem;
        font-weight: 100;
        
        }


        /* ============== SECTION 3 : ساهم بشرح دروس تعليمية================= */
        .course{flex: 0 1 60vw;}
        .course__info p{font-weight: 100;}

        .testimonial__body{padding: 1.2rem;}
        .testimonial__body p{font-weight: 100;}


        .footer__1 p{font-size: 0.8rem;}

        .footer__container{
            grid-template-columns: 1fr;
            gap:2rem;
        }
    
}
@media screen and (max-width: 420px) {
    header{padding: 0rem 3rem ;}
     header button{margin-top: 0.7rem;width: 3rem;}
     .logo{width: 16vw;}

     .course{flex: 0 1 65vw;}

     .footer__1 a{width: 20vw;}
     .footer__1 p{font-size: 0.7rem;}
}